<div class="container p-3">
  <p><%= link_to "+ Add a Movie", new_list_bookmark_path(@list) %>

  <h2>List Details</h2>
  <p><strong>Name: <%= @list.name %></strong></p>

  <h5>Bookmark Movie with comment</h5>
  <ol>
    <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
    <% @list.bookmarks.each do |bookmark| %>
      <li>
        <p><%= bookmark.movie.title %> - <%= bookmark.comment %> | <%= link_to "Delete Comment", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></p>
      </li>
      <% end %>
  </ol>

<%= link_to "Back", root_path(@list) %>
</div>
